.WeatherBackground img {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  max-width: 90%;
  padding-top: 10px;
  position: static;
}
