.WeatherCurrentTemperature h2 {
  display: inline;
  font-size: 50px;
  margin-bottom: 0;
}
.WeatherCurrentTemperature sup {
  top: -2.3em;
}
@media (max-width: 576px) {
  .WeatherCurrentTemperature h2 {
    font-size: 40px;
  }
  .WeatherCurrentTemperature sup {
    top: -1.3em;
  }
}
