.Weather form .search {
  font-size: medium;
  margin-bottom: 0;
  color: #126591eb;
}
.Weather form .search,
.Weather form .search-button,
.Weather form .location-button {
  background: transparent;
  border: 1px solid rgb(194, 188, 188);
  border-radius: 4px;
}
.Weather form .search-button,
.Weather form .location-button {
  transition: all 150ms ease;
  margin-left: 2px;
}
.Weather form .search-button:hover,
.Weather form .location-button:hover {
  cursor: pointer;
  background: rgb(192, 194, 188);
}
.Weather form .location-button {
  padding: 1px 8.5px;
}
.card {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  max-width: 90%;
  padding-top: 10px;
  position: static;
  color: #126591eb;
}
